@import "tailwindcss";
@layer base {
  body {
    @apply font-outfit;
  }
}

@theme {
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001f;
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;
  --boxShadow-black: 4px 4px 0 #000;
  --boxShadow-white: 4px 4px 0 #fff;
  --gridTemplateColumns-auto: repeat(auto-fit, minmax(200px, 1fr));
}

@custom-variant dark (&:where(.dark, .dark *));
